<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shijiaqi.clock">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/baseline_schedule_black_48"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/baseline_schedule_black_48"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".clockonpower_receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".countdown_service"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".clock_ring" android:screenOrientation="portrait"/>
        <activity android:name=".clock_setting" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="clockset_action" />

                <category android:name="clockset_category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".clock_service"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="clock_service" />
            </intent-filter>
        </service>

        <activity android:name=".clock_addnew" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="clockadd_action" />

                <category android:name="clockadd_category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".worldtime_activity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="worldtime_action" />

                <category android:name="worldtime_category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>